*{
    margin: 0;
    padding: auto;
    border: border-box;
    background-color:black;
    
  }
 .div1 img{
    margin: 30px;
    border-radius: 100%;
    width: 120px;
 }
 .div2 p{
    background-image: url("bgpaper4.jpg");
    margin-left: 380px;
    width: 660px;
    height: 650px;
    background-repeat:no-repeat; 
    padding-top: 175px;
    padding-left: 80px;
    font-family: cursive;
    font-size: x-large;
    text-align: center;
 }
 .div3{
   margin-top: -370px;
 }
 .div3 a{
    background-color:rgb(6, 4, 6) ;
    margin-left: 1100px ;
    padding:10px ;
    font-family: cursive;
    font-size: x-large;
}